main  #subcribe {
    .text {
        h5 {
            font-weight: bold;
        }

        p {
            color: gray;
        }
    }

    .container.p-4 {
        border-radius: 5px;
        background-color: $y;
        color: $w;
    }

    outline: none;

    input {
        border: none;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        padding: 10px;
    }

    input:focus {
        outline: none;
    }

    button {
        color: $w;
        background: #fcad02 !important;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}